:root, :before, :after{
  --font-size:16px;
  --body-padding:var(--size-5);
  --header-height:var(--size-7);
}



.mobile-only{display:none !important; visibility:hidden; content-visibility:hidden;}



.header-left > .header-box:first-child{padding-left:var(--size-6);}
.header-right > .header-box:last-child{padding-right:var(--size-6);}

.header-box svg{height:28px;}



.site-container{padding-top:var(--size-7); padding-bottom:var(--size-7);}
.section-container{padding:0 var(--size-6);}



.cover-content{max-width:640px;}
.cover-title{font-size:3rem;}







@media screen and (min-width:1280px){
  
}







@media screen and (min-width:1360px){
  
}







@media screen and (min-width:1920px){
  
}